.fallback-text {
    text-align: center;
    font-size: 2em;
    color: var(--light-primary);
}

.table {
    border-collapse: collapse;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #111;
    border-radius: var(--common-radius);
    overflow: hidden;
    box-shadow: 0 0 10px 10px #0005;
}
.table__header {
    font-weight: 900;
}
.table__header, 
.table__data {
    padding: 1em 1em;
    color: #fff;
    /* color: #000; */
    text-align: center;
}
.table__data {
    border-top: 1px solid var(--light-secondary);
}
.table__data--actions {
    display: flex;
    justify-content: space-evenly;
}
.table__actions {
    background-color: var(--light-primary);
    color: #fff;
    font-weight: 600;
    padding: .7em 1.2em;
    border: none;
    border-radius: var(--common-radius);
    /* transition: background-color .1s; */
}
.table__actions:hover {
    background-color: var(--light-secondary);
}